<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../../Week-04/css/styles.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/login.css" />
    <link rel="stylesheet" href="../css/layout.css" />
    <link rel="stylesheet" href="../css/footer.css" />
  </head>
  <body>
    <header>
      <div class="header-logo">
        <a href="index.html">
          <img
            src="../../assets/images/Megarocket.png"
            alt="Logo of the page"
          />
        </a>
      </div>
    </header>
    <main>
      <h1>Sign in</h1>
      <div class="login-content">
        <h2>Login</h2>
        <form>
          <div class="email-contain">
            <img
              class="login-email"
              src="../../assets/images/Email-form.png"
              alt="Email logo"
            />
            <input name="email" type="text" />
            <span></span>
          </div>
          <div class="password-contain">
            <img
              class="login-lock"
              src="../../assets/images/Lock-fill.png"
              alt="Lock logo"
            />
            <input name="password" type="text" />
            <span></span>
          </div>
          <div class="form-text-container">
            <p>Remember me?</p>
            <div>
              <img src="../../assets/images/Forgot-password.png" alt="" />
              <p>Forgot Password?</p>
            </div>

            <button type="submit">Sign In</button>
            <a class="sign-up-btn" href="sign-up.html">Sign Up</a>
          </div>
        </form>
      </div>
    </main>
    <div id="myModal" class="modal">
      <div class="modal-container">
        <div class="modal-content">
          <div>
            <button class="btn-accept">Accept</button>
          </div>
          <p class="modalText"></p>
        </div>
      </div>
    </div>
    <footer>
      <div class="social-media">
        <ul>
          <li>
            <a href="">
              <img
                class="sm-twitter"
                src="../../assets/images/Twitter.png"
                alt="Icon Twitter"
              />
            </a>
          </li>
          <li>
            <a href="">
              <img
                class="sm-instagram"
                src="../../assets/images/Instagram.png"
                alt="Icon Instagram"
              />
            </a>
          </li>
          <li>
            <a href="">
              <img
                class="sm-facebook"
                src="../../assets/images/Facebook.png"
                alt="Icon Facebook"
              />
            </a>
          </li>
        </ul>
        <p>Copyright © 2023 MegaRocket SA. All rights reserved.</p>
      </div>
    </footer>
    <script src="../js/login.js"></script>
  </body>
</html>
