<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/layout.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="stylesheet" href="../css/sign-up.css" />
  </head>
  <body>
    <header>
      <div class="header-logo">
        <a href="index.html">
          <img
            src="../../assets/images/Megarocket.png"
            alt="Logo of the page"
          />
        </a>
      </div>
    </header>
    <main>
      <h1>Sign Up</h1>
      <div class="signup-content">
        <form>
          <div>
            <img src="../../assets/images/Name.png" alt="User" />
            <input placeholder="name" name="name" type="text" />
            <span></span>
          </div>
          <div>
            <img
              class="signup-lastname"
              src="../../assets/images/Name.png"
              alt="User"
            />
            <input placeholder="last name" name="lastName" type="text" />
            <span></span>
          </div>
          <div>
            <img
              class="signup-dni"
              src="../../assets/images/Dni.png"
              alt="Dni"
            />
            <input placeholder="dni" name="dni" type="text" />
            <span></span>
          </div>
          <div>
            <img
              class="signup-birthdate"
              src="../../assets/images/Birthdate.png"
              alt="Birth Date"
            />
            <input placeholder="birth date" name="dob" type="date" />
            <span></span>
          </div>
          <div>
            <img
              class="signup-cellphone"
              src="../../assets/images/Cellphone.png"
              alt="Cellphone"
            />
            <input placeholder="phone" name="phone" type="text" />
            <span></span>
          </div>
          <div>
            <img
              class="signup-address"
              src="../../assets/images/Su-address.png"
              alt="Address"
            />
            <input placeholder="address" name="address" type="text" />
            <span></span>
          </div>
          <div>
            <img
              class="signup-city"
              src="../../assets/images/City.png"
              alt="City"
            />
            <input placeholder="city" name="city" type="text" />
            <span></span>
          </div>
          <div>
            <img
              class="signup-pc"
              src="../../assets/images/Dni.png"
              alt="Postal code"
            />
            <input placeholder="zip code" name="zip" type="text" />
            <span></span>
          </div>
          <div>
            <img
              class="signup-email"
              src="../../assets/images/Email-form.png"
              alt="Email"
            />
            <input placeholder="email" name="email" type="text" />
            <span></span>
          </div>
          <div>
            <img
              class="signup-password"
              src="../../assets/images/Lock-fill.png"
              alt="Lock logo"
            />
            <input placeholder="password" name="password" type="text" />
            <span></span>
          </div>
          <div>
            <img
              class="signup-confirm"
              src="../../assets/images/Confirm.png"
              alt="Confirm"
            />
            <input
              placeholder="confirm password"
              name="repassword"
              type="text"
            />
            <span></span>
          </div>
          <div class="buttons-contain">
            <button id="sign-up-btn" type="submit">Sign Up</button>
            <a class="sign-in-btn" href="login.html">Sign in</a>
          </div>
        </form>
      </div>
    </main>
    <div id="myModal" class="modal">
      <div class="modal-container">
        <div class="modal-content">
          <div>
            <button class="btn-accept close">Accept</button>
          </div>
          <div class="container-text">
            <p class="modalText"></p>
            <p class="close">&times;</p>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="social-media">
        <ul>
          <li>
            <a href="">
              <img
                class="sm-twitter"
                src="../../assets/images/Twitter.png"
                alt="Icon Twitter"
              />
            </a>
          </li>
          <li>
            <a href="">
              <img
                class="sm-instagram"
                src="../../assets/images/Instagram.png"
                alt="Icon Instagram"
              />
            </a>
          </li>
          <li>
            <a href="">
              <img
                class="sm-facebook"
                src="../../assets/images/Facebook.png"
                alt="Icon Facebook"
              />
            </a>
          </li>
        </ul>
        <p>Copyright © 2023 MegaRocket SA. All rights reserved.</p>
      </div>
    </footer>
    <script src="../js/sign-up.js"></script>
  </body>
</html>
