* {
    font-family: 'Roboto', sans-serif;
}
html, body, main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

header {
    position: fixed;
    width: 1920px;
    height: 116px;
    background-color: #373867;
    z-index: 100;
    align-content: center;
    text-align:center;
}

main {
    position: relative;
    top: 178px;
    left: 0;
}

section {
    position: relative;
    left: 400px;
    display: inline-block;
    width: 1400px;
    height: 620px;
    margin: 0;
    border-bottom: 4px #D9D9D9 solid;
}

footer {
    position: relative;
    top: 100px;
    width: 1920px;
    height: 100px;
    background-color: #2C2C3A;
}

.footer-container {
    position: relative;
    left: 850px;
    display: inline-block;
    width: 400px;
}

footer li {
    position: relative;
    left: 110px;
    display: inline-block;
    padding: 18px 20px 10px 0;
}

footer p {
    color: #49A37B;
}

h1 {
    display: inline-block;
    width: 500px;
    color: #2F3058;
    font-weight: 700;
    font-size: 56px;
}

h1 span {
    color: #616280;
}

section p {
    display: inline-block;
    width: 500px;
    font-weight: 500;
    font-size: 18px;
    text-align: justify;
}

header img {
    position: absolute;
    z-index: 100;
}

label{
    display: inline-block;
}

input {
    display: inline-block;
    width: 300px;
}

article {
    display: inline-block;
    width: 720px;
}

aside {
    position: fixed;
    top: 0;
    width: 270px;
    height: 1080px;
    z-index: 100;
    background-color: #373867;
}

aside li {
    width: 190px;
    padding: 14px 0 15px 0;
    border-bottom: 2px solid #C4C4C4;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #C4C4C4;
}

aside li a, .aside-contact > a {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 35px;
}

aside > ul {
    position: relative;
    top: 55px;
    left: 20px;
}

aside p {
    min-width: fit-content;
    max-width: 45%;
    padding: 35px 0px 5px 0px;
    margin: 0px;
    border-bottom: 2px solid #46A37C;
    color: #46A37C;
}

/**************** HEADER *******************/

.header-logo {
    position: relative;
    top: 25px;
    right: 460px;
    width: 300px;
    height: 74px;
} 

/**************** ASIDE *******************/

aside ul li a:hover {
    cursor: pointer;
    color: #46A37C;
}

.aside-logo {
    position: relative;
    top: 35px;
    left: 80px;
}

.aside-menu {
    position: absolute;
    top: 20px;
    left: 280px;
}

.aside-contact {
    border-bottom: 0px;
}

.aside-contact ul li {
    padding: 25px 0 12px 0;
    width: 225px;
}

.aside-contact > img {
    position: relative;
    bottom: 5px;
    left: 40px;
}

.aside-contact {
    color: #46A37C;
}

.aside-subtitle {
    padding-left: 4px;
    font-weight: bold;
}

/**************** TITLE *******************/

.section-title {
    height: 680px;
}

.span-h1 {
    color: #616280;
}

.span-h2 {
    font-weight: bold;
}

.main-h2 {
    width: 600px;
    margin: 0;
    padding: 40px 0;
    font-size: 25px;
    font-weight: 600;
    color: #2F3058;
}

.main-h2 span {
    font-weight: 700;
}

.text-container {
    position: relative;
    bottom: 50px;
    display: inline-block;
    width: 500px;
}

.section-title p {
    width: 400px;
}

.main-photo {
    position: relative;
    left: 80px;
    display: inline-block;
    width: 750px;
    height: 525px;
    border-radius: 22px;
}

/**************** MEET US *******************/

.section-meetus {
    height: 900px;
}

.section-meetus h2 {
    position: relative;
    top: 87px;
    font-size: 34px;
    font-weight: 700;
    color: #373867;
}

.section-meetus h3 {
    width: 200px;
    font-size: 25px;
    font-weight: 700;
    color: #373867;
}

.section-meetus article {
    position: relative;
    top: 120px;
}

.section-meetus p {
    text-align: start;
    width: 225px;
}

.section-meetus h3 {
    width: 400px;
}

article:nth-child(1) {
    position: relative;
    top: 120px;
}

article:nth-child(2) {
    position: relative;
    top: 140px;
}

article:nth-child(3) {
    position: relative;
    top: 140px;
}

article:nth-child(4) {
    position: relative;
    top: 120px;
}

.meetus-text-container {
    position: relative;
    bottom: 50px;
    left: 10px;
    display: inline-block;
    width: 400px;
    height: 150px;
}

.meetus-container {
    position: relative;
    top: 60px;
    width: 1500px
}

/**************** CONTACT US SECTION *******************/

.section-contactus {
    height: 1050px;
    width: 1300px;
}

.section-contactus h2 {
    position: relative;
    top: 70px;
    right: 5px;
    font-size: 34px;
    font-weight: 700;
    color: #373867;
}

.contactus-container {
    position: relative;
    top: 160px;
    right: 5px;
}

label {
    display: block;
    padding-bottom: 14px;
    font-size: 18px;
    font-weight: 600;
    color: #373867;
}

label[for="checkbox"] {
    position: relative;
    left: 18px;
    width: 420px;
    font-weight: 600;
    font-size: 16px;
}

.input-container {
    display: inline-block;
    width: 630px;
    padding-bottom: 30px;
}

input[type="text"], input[type="email"] {
    width: 600px;
    height: 37px;
    border: 1px solid #373867;
    border-radius: 4px;
}

input[type="checkbox"] {
    position: relative;
    bottom: 33px;
    width: 13px;
    margin: 0;
    border-radius: 4px;
}

textarea {
    width: 1230px;
    height: 180px;
    border: 1px solid #373867;
}

.contactus-buttons {
    position: relative;
    float: right;
    top: 44px;
    right: 85px;
}

button[type="submit"] {
    width: 148px;
    height: 43px;
    border: 1px solid #373867;
    border-radius: 5px;
    background-color: #373867;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: normal;
}

button {
    width: 131px;
    height: 43px;
    padding: 0;
    margin-left: 20px;
    background-color: #FFFFFF;
    border: 1px solid #373867;
    border-radius: 5px;
    color: #373867;
    font-size: 14px;
    font-weight: bold;
}

/**************** ABOUT US SECTION *******************/

.section-aboutus {
    height: 1050px;
    width: 1200px;
}

.section-aboutus h3 {
    width: 500px;
    padding: 20px 0;
    color: #373867;
    font-size: 28px;
    font-weight: 700;
}

.section-aboutus h2 {
    position: relative;
    top: 80px;
    font-size: 34px;
    font-weight: 700;
    color: #373867;
}

.aboutus-container {
    position: relative;
    top: 130px;
    left: 120px;
    display: inline-block;
    width: 1000px;
}

.aboutus-p1 {
    width: 600px;
}

.aboutus-p2 {
    height: 350px;
}

.aboutus-p3 {
    position: relative;
    bottom: 80px;
    width: 1000px;
}

.paragraph1 {
    display: inline-block;
    position: relative;
    bottom: 200px;
    left: 20px;
    width: 700px;
    padding: 10px 0 15px;
    font-size: 22px;
    color: #6D6D6D;
}

.paragraph2 {
    position: relative;
    bottom: 0px;
    right: 680px;
    width: 280px;
    padding: 10px 0 15px;
    color: #6D6D6D;
    font-size: 22px;
    text-indent: -1.5px;
}

.aboutus-p1 p {
    display: inline-block;
    width: 1000px;
    padding: 10px 0 15px;
    color: #6D6D6D;
    font-size: 22px;
}

.aboutus-p3 p {
    position: relative;
    bottom: 240px;
    padding: 10px 0 15px;
    font-size: 22px;
    color: #6D6D6D;
}

.aboutus-image2 {
    position: relative;
    left: 120px;
    bottom: 260px;
    width: 370px;
    height: 329px;
}

.aboutus-container span {
    font-weight: 700;
}

.aboutus-image1 {
    width: 270px;
    height: 250px;
}

/**************** GYM SECTION *******************/

.section-gym {
    height: 1000px;
    width: 1200px;
}

.section-gym h3 {
    position: relative;
    right: 20px;
    width: 380px;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    color: #373867;
}

.section-gym h2 {
    position: relative;
    top: 100px;
    font-size: 50px;
    font-weight: 700;
    color: #373867;
}

.sectiongym-container {
    position: relative;
    top: 230px;
    left: 80px;
}

.activities-container {
    display: inline-block;
    width: 467px;
    height: 180px;
    margin: 0 80px 30px 0;
    padding: 10px 0 20px 40px;
    border: 2px solid #49A37B;
    border-radius: 8px;
}

.activities-container:nth-child(4) {
    position: relative;
    bottom: 23px;
}

.activities-container li {
    font-size: 20px;
    font-weight: 700;
    color: #373867;
}


