footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 81px;
  background-color: #2c2c3a;
}

.social-media {
  margin-left: 100px;
  padding-left: 100px;
}

.social-media ul {
  display: flex;
  justify-content: center;
  height: 40px;
}

.social-media img {
  margin: 0 4px;
}

.sm-facebook {
  width: 10.82px;
  height: 20px;
}

.sm-twitter {
  width: 21.79px;
  height: 17.21px;
}

.sm-instagram {
  width: 24.17px;
  height: 23.33px;
}

.social-media p {
  font-size: 11px;
  font-family: "Roboto", "Arial";
  color: #49a37b;
}

@media only screen and (min-width: 601px) {
  .social-media p {
    font-size: 13px;
  }
}

@media only screen and (min-width: 1024px) {
  .social-media p {
    font-size: 16px;
  }
}
