footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 81px;
  background-color: #2c2c3a;
}

.social-media ul {
  display: flex;
  justify-content: center;
  height: 40px;
}

.social-media img {
  margin: 0 4px;
}

.sm-facebook {
  width: 15.82px;
  height: 23px;
}

.sm-twitter {
  width: 24.17px;
  height: 23.33px;
}

.sm-instagram {
  width: 27.17px;
  height: 26.33px;
}

.social-media p {
  font-size: 11px;
  font-family: "Roboto", "Arial";
  color: #49a37b;
}

@media only screen and (min-width: 601px) {
  .social-media p {
    font-size: 13px;
  }
}

@media only screen and (min-width: 1024px) {
  .social-media {
    margin-left: calc(110px + 8vw);
  }
  .social-media p {
    font-size: 14px;
    font-weight: 700;
  }
}
