header {
  display: fixed;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #373867;
}

.header-menu {
  width: 35px;
  height: 35px;
  padding: 5px;
}

.header-logo {
  align-self: center;
  margin-right: 10px;
  margin-left: 40px;
  width: 250px;
  height: 45px;
}

.header-logo img {
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: fixed;
    left: 13.5vw;
    min-width: 90vw;
    max-width: 95vw;
    height: 14vh;
    z-index: 1;
    background-color: #373867;
  }

  .header-menu {
    width: 41px;
    height: 41px;
    margin: 24px 0 0 15px;
  }

  .header-logo {
    width: 320px;
  }
}
