main {
  display: flex;
  justify-content: center;
}

.div-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: center;
  width: 90%;
  height: 100%;
}

.main-section,
.meetus-section,
.contactus-section,
.aboutus-section,
.gym-section {
  display: flex;
  flex-direction: column;
  border-bottom: 4px solid #d9d9d9;
}

/************* Main section *************/

h1 {
  align-self: center;
  order: -2;
  padding: 12px 0;
}

.main-section {
  align-content: flex-start;
  height: 810px;
}

.main-text {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 100%;
}

.main-section h2 {
  padding: 34px 0 20px 6px;
}

.main-section p {
  padding-left: 6px;
  width: 74vw;
  opacity: 0.75;
  font-weight: bold;
}

.mobile-image {
  display: flex;
  width: 95%;
  height: 275px;
  order: -1;
  border-radius: 22px;
}

.desktop-image {
  display: none;
}

/************* Meet us section *************/

.meetus-section {
  justify-content: space-evenly;
  height: 764px;
}

.meetus-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
}

article {
  display: flex;
}

.meetus-text {
  width: 60%;
  margin: 12px 0 0 14.2px;
}

.meetus-section img {
  width: 91.8px;
  height: 91.8px;
}

.meetus-section p {
  width: 90%;
  font-weight: 600;
  color: #979797;
}

/************* Contact us section *************/

form {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  height: 90%;
}

input[type="text"],
input[type="email"] {
  width: 77vw;
  height: 37px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #373867;
}

label {
  padding: 20px 0 7px;
  font-size: 14px;
  font-weight: 700;
  color: #373867;
}

textarea {
  width: 100%;
  height: 179px;
  border-radius: 4px;
}

button[type="submit"] {
  width: 139px;
  height: 40px;
  background-color: #373867;
  color: white;
  font-weight: bold;
  border: 1px solid;
  border-radius: 5px;
}

button {
  width: 122px;
  height: 40px;
  margin: 20px 0;
  background-color: white;
  font-weight: bold;
  border: 1px solid;
  border-radius: 5px;
  color: #373867;
}

.contactus-section {
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 845px;
}

.contactus-section h2 {
  padding: 40px 0;
}

.contactus-input {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
}

.contactus-buttons {
  display: flex;
  justify-content: space-evenly;
}

/************* About us section *************/

.aboutus-section {
  justify-content: space-evenly;
  height: 750px;
}

.aboutus-section h2 {
  padding: 30px 0;
}

.aboutus-section p {
  color: #6d6d6d;
  font-weight: normal;
}

.aboutus-section span {
  font-weight: bold;
}

.aboutus-container1,
.aboutus-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.aboutus-container1 p,
.aboutus-container2 p {
  width: 47.5vw;
}

.aboutus-container1 img {
  width: 28.5vw;
  height: 83px;
  padding-right: 11px;
  border-radius: 8px;
}

.aboutus-container2 img {
  width: 24.4vw;
  height: 89px;
  padding-left: 11px;
  border-radius: 8px;
}

/************* About us section *************/

.gym-section {
  justify-content: space-evenly;
  height: 650px;
}

.gym-section ol {
  margin-left: 13px;
}

.gym-section li {
  font-size: 13px;
  font-weight: 700;
  color: #373867;
}

.activities-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
}

.activities {
  height: fit-content;
  width: 75vw;
  padding: 7px 0 10px 20px;
  border-radius: 8px;
  border: 2px solid #49a37b;
  align-self: center;
}

@media (min-width: 601px) {
  h1 {
    align-self: flex-start;
    padding: 27px 0 39px 0;
  }

  .mobile-image {
    width: 70vw;
    height: 367px;
  }

  /* Main section */

  .main-section {
    height: 920px;
  }

  .main-section h2 {
    padding: 43px 6px;
    font-size: 24px;
  }

  .main-section p {
    width: 61.3vw;
    padding-left: 6px;
    font-weight: 500;
  }

  /* Meet us section */

  .meetus-section {
    height: 900px;
  }

  .meetus-div {
    margin-left: 40px;
  }

  .meetus-section img {
    width: 125px;
    height: 127px;
  }

  .meetus-text {
    margin: 12px 0 0 28px;
  }

  .meetus-section p {
    font-size: 16px;
    color: #979797;
  }

  /* Contact us section */

  form {
    width: 74%;
    margin-left: 40px;
  }

  textarea {
    width: 65.5vw;
  }

  button {
    margin: 20px 10.5px;
  }

  input[type="text"],
  input[type="email"] {
    width: 65.2vw;
    height: 37px;
    border-radius: 4px;
    border: 1px solid #373867;
  }

  .contactus-buttons {
    display: flex;
    justify-content: flex-end;
  }

  /* About us section */

  .aboutus-section {
    height: 1000px;
  }

  .aboutus-section p {
    font-size: 20px;
  }

  .aboutus-container1,
  .aboutus-container2 {
    justify-content: flex-start;
    width: 100%;
  }

  .aboutus-container2 {
    padding-bottom: 50px;
  }

  .aboutus-container1 p {
    width: calc(260px + 10vw);
  }

  .aboutus-container2 p {
    width: 40vw;
  }

  .aboutus-container1 img,
  .aboutus-container2 img {
    width: 35vw;
    height: calc(160px + 3vw);
  }

  /* Gym section */

  .gym-section {
    height: 850px;
  }

  .activities {
    width: 65%;
  }
}

@media (min-width: 1024px) {
  main {
    display: flex;
    justify-content: flex-end;
    width: 98vw;
    padding-top: 14vh;
    padding-left: calc(100px + 9vw);
  }

  .div-container {
    display: flex;
    width: 97%;
  }

  /* Main section */

  h1 {
    padding: 0;
  }

  .main-section {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-self: center;
    width: 100%;
    height: 650px;
  }

  .main-text {
    width: calc(270px + 25vw);
    height: 484px;
    margin-top: 60px;
  }

  .main-section h2 {
    font-size: 25px;
  }

  .mobile-image {
    display: none;
  }
  .desktop-image {
    display: flex;
    margin-top: 60px;
  }
  .main-section img {
    order: 4;
    width: calc(100px + 27vw);
    height: calc(260px + 11vw);
    border-radius: 22px;
  }

  .paragraph-container {
    width: calc(290px + 6vw);
  }

  .main-section p {
    width: calc(240px + 13vw);
    text-indent: 20px;
  }

  /* Meet us section */

  .meetus-section {
    height: 710px;
  }

  .meetus-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
  }

  .meetus-section img {
    width: calc(10px + 8vw);
    height: calc(10px + 8vw);
  }

  .meetus-section h2 {
    margin-bottom: 40px;
  }

  .meetus-section h3 {
    font-size: calc(12px + 0.8vw);
  }

  article {
    width: 50%;
  }

  .meetus-text {
    width: 100%;
    margin-left: 10px;
  }

  /* Contact us section */

  .contactus-section {
    height: 780px;
  }

  .contactus-div {
    display: flex;
    flex-direction: column;
  }

  form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-self: center;
    width: 90%;
    margin: 0;
  }

  .group-input {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
  }

  .contactus-input {
    width: 50%;
  }

  .contactus-container {
    width: 100%;
    margin-top: 14px;
  }

  .contactus-buttons {
    display: flex;
    justify-content: flex-end;
    width: 85%;
  }

  input[type="text"],
  input[type="email"] {
    width: 30vw;
  }

  /* About us section */

  .aboutus-section {
    height: 1150px;
  }

  .aboutus-section > p {
    width: 78%;
    align-self: center;
  }

  .aboutus-section h3 {
    font-size: 30px;
    font-family: "Roboto", "Calibri";
    font-weight: 900;
    align-self: center;
  }

  .aboutus-section p {
    font-size: calc(10px + 0.8vw);
  }

  .aboutus-container1,
  .aboutus-container2 {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .aboutus-container2 p {
    width: calc(300px + 5vw);
  }

  .aboutus-container1 img,
  .aboutus-container2 img {
    width: calc(200px + 10vw);
    height: calc(100px + 10vw);
    padding: 0 30px;
  }

  /* Gym section */

  .gym-section {
    flex-direction: column;
    height: 800px;
  }

  .activities-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .activities {
    width: 40%;
    height: 130px;
  }
}
