* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Calibri", "Arial";
}

h1,
h2 {
  color: #2f3058;
  font-weight: 600;
  font-size: 20px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  color: #373867;
}

h1 span {
  color: #616180;
}

h2 span {
  font-weight: 900;
}

p {
  font-size: 14px;
}

@media only screen and (min-width: 601px) {
  h1 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }

  label {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 60px;
  }
}
